.titulo{
  font-size: 1rem;
  font-weight: bold;
}

.subtitulo{
  font-size: 1rem;
}

.tabla
{
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
